* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.todo-container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

#addbtn {
    padding: 10px 20px;
}

#taskList {
    margin-top: 20px;
    padding: 0;
}

.filter-buttons{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.filter-buttons button{
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    background-color: #ddd;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}

.filter-buttons button:hover{
    background-color: #bbb;
}

.filter-buttons button:active{
    background-color: #333;
    color: white;
}

#taskList{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#taskList li{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    margin-bottom: 10px;
    background: #f4f4f4;
    border-radius: 8px;
}

#taskList li span{
    flex: 1;
    font-size: 16px;
}

#taskList li button{
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#taskList li span.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

#searchInput{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 14px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
}

#searchInput:focus{
    border-color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

#searchInput::placeholder{
    color: #999;
}

.task-count {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 15px 0;
}

.task-count span {
    flex: 1;
    padding: 10px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

/*Responsive*/

@media (max-width: 500px) {

    .task-input {
        flex-direction: column;
    }

    #addbtn {
        width: 100%;
    }

    .filter-buttons {
        flex-wrap: wrap;
    }
}
